<%- include("../adminPartials/header") %>
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Categories</h2>
                        <p>Add, edit or delete a category</p>
                    </div>
                    <div>
                        <input type="text" placeholder="Search Categories" class="form-control bg-white" />
                        <br>
                        <a href="/admin/createCat" class="btn btn-success">Create new Category</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                                <% if (message) { %>
                                    <div id="error-message" class=" text-center font-regular p-2 alert alert-danger " style=" border-radius: 10px; font-size: 18px; width: 100% ; background-color: rgb(248, 151, 151); color: darkred;"><%= message %></div>  
                                  <% } %>
                                  <% if (success) { %>
                                    <div id="error-message" class=" text-center font-regular p-2 alert alert-danger " style=" border-radius: 10px; font-size: 18px; width: 100% ; background-color: rgb(248, 151, 151); color: darkgreen;" ><%= success %></div>  
                                  <% } %>
                            
                            <!-- <div class="col-md-9"> -->
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" />
                                                    </div>
                                                </th>
                                                <th>Category Name</th>
                                                <th>Description</th>
                                             <!-- <th> Status </th> -->
                                                <th >Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(category.length > 0) {
                                                for(let i=0; i < category.length; i++) { %>
                                            <tr>
                                                <td class="text-center">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" />
                                                    </div>
                                                </td>
                                                <td><b><%= category[i].name %></b></td>
                                                <td><%= category[i].description %></td>
                                                <!--<td><%= category[i].status %></td> -->
                                                <td >  
                                                    </div>
                                                    <a href="/admin/editCategory/<%= category[i]._id %>"
                                                        ><i class="bi bi-pencil-square"></i>Edit</a>
                                        
                                                        <button class="edit-btn btn-info block-btn  <%= category[i].isDeleted ? 'btn-success' : 'btn-danger' %>" 
                                                            onclick="categoryStatus('<%= category[i]._id %>', '<%= category[i].isDeleted %>')">
                                                    <%= category[i].isDeleted ? 'List' : 'Unlist' %> </button> 
                                                </td>
                                            </tr> 
                                           </div> 
                                            <!-- <tr>
                                                <td class="text-center">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" />
                                                    </div>
                                                </td>
                                                <td>8</td>
                                                <td><b>Black plum</b></td>
                                                <td>Black plum</td>
                                                <td>/plum</td>
                                                <td>8</td>
                                                <td class="text-end">
                                                    <div class="dropdown">
                                                        <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">View detail</a>
                                                            <a class="dropdown-item" href="#">Edit info</a>
                                                            <a class="dropdown-item text-danger" href="#">Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>-->  
                                            <%  } 
                                        } else { %>
                                            <tr>
                                                <td  colspan="5" class="text-center"> No categories found </td>
                                            </tr>
                                    <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            <!-- </div> -->
                            <!-- .col// -->
                        </div>
                        <!-- .row // -->
                    </div>
                    <!-- card body .// -->
                </div>
                <!-- card .// -->
                <div class="row ">
                    <div class="col-12 ">
                        <nav aria-label="Page navigation example ">
                            <ul class="pagination justify-content-center">
                                <% if (currentPage > 1) { %>
                                <li class="page-item">
                                    <a class="page-link" href="?page=<%= currentPage - 1 %>">Previous</a>
                                </li>
                                <% } %>
                                <% for (let i = 1; i <= totalPages; i++) { %>
                                <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                    <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                </li>
                                <% } %>
                                <% if (currentPage < totalPages) { %>
                                <li class="page-item">
                                    <a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a>
                                </li>
                                <% } %>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- <div class="pagination-area mt-30 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item">
                            <a class="page-link" href="#"><i class="material-icons md-chevron_left"></i></a>
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div> -->
            </section>

            <script>
                async function categoryStatus(categoryId, isDeleted) {
                  Swal.fire({
                    title: "Are you sure?",
                   // text: `You are about to ${isDeleted ? 'List' : 'Unlist'} this category.`,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: `Yes, ${isDeleted ? 'List' : 'Unlist'} Category!`,
                    cancelButtonText: "No, cancel!",
                    reverseButtons: true
                  }).then(async (result) => {
                    if (result.isConfirmed) {
                      const respons = await fetch('/admin/categoryStatus', {
                        method: "PATCH",
                        headers: {
                          'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ categoryId })
                      });
                      const data = await respons.json();
                      if (data.success) {
                        Swal.fire({
                          icon: "success",
                          title: "Success",
                          text: data.message
                        }).then(()=>{
                          window.location.reload()
                        })

                        // Update the onclick function with the new status
                        button.setAttribute('onclick', `categoryStatus('${categoryId}', ${!isDeleted})`);
                        
                      } else {
                        Swal.fire({
                          icon: "error",
                          title: "Error",
                          text: data.message
                        });
                      }
                    }
                  });
                }
            </script>

            
            <%- include("../adminPartials/footer") %>