<%- include("../user_partials/header") %>
<style>
    .error-message{
       color: red;
       font-size: 12px;
    }
</style>

<div class="body" data-currency-code="USD">
     
    <div class="page">
    <div class="container container-smaller">
        <!-- breadcrumbs -->
        <ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li class="breadcrumb " itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a href="/home" class="breadcrumb-label" itemprop="item"><span itemprop="name">Home</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li class="breadcrumb is-active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                   <meta itemprop="item" > <!--  content="https://luxwatches-demo-02.mybigcommerce.com/cart.php" -->
                    <span class="breadcrumb-label" itemprop="name">Your Cart</span>
                <meta itemprop="position" content="2" />
            </li>
        </ul>
        <main class="page-content" data-cart><% if (cartItems?.length === 0) { %>
            <h1 class="page-heading" data-cart-page-title> Your Cart is Empty</h1>
        <% } else{ %>
            <h1 class="page-heading" data-cart-page-title> Your Cart</h1>
            <div data-cart-status></div>

                <div class="loadingOverlay"></div>

                <div data-cart-content>
                    <table class="cart" data-cart-quantity="2">
    <thead class="cart-header">
        <tr>
            <th class="cart-header-item text-left" colspan="2">Item</th>
            <th class="cart-header-item text-center">Price</th>
            <th class="cart-header-item cart-header-quantity text-center">Quantity</th>
            <th class="cart-header-item text-center">Total</th>
        </tr>
    </thead>
    <tbody id="cart-table-body" class="cart-list">
            <% cartItems?.forEach(item => { %>
            <tr data-product-id="<%= item.productId._id %>" class="cart-item" data-item-row>
                <td class="cart-item-block cart-item-figure ">
                    <img src="<%= item.productId.productImage[0] %>" alt="<%= item.productId.productName %>" title="<%= item.productId.productName %>" data-sizes="auto"class="cart-item-image"/>
                </td>
                <td class="cart-item-block cart-item-title ">
                    <p class="cart-item-brand"><b><%= item.productId.brand %></b></p>
                    <h4 class="cart-item-name"><a href="#"><%= item.productId.productName %></a></h4>
                        <dl class="definitionList">
                                <!-- <dt class="definitionList-key">Color:</dt>
                                <dd class="definitionList-value">Blue</dd>
                                <dt class="definitionList-key">Size:</dt>
                                <dd class="definitionList-value">S</dd> -->
                        </dl>
                        <!-- <a href="#" data-item-edit="02e3b9c1-7767-4c7c-973d-5a6ac01a5f9d">Change</a>
                        <dl class="cart-item-options cart-item-options--giftWrapping">
        <dt class="cart-item-option-title">
            Gift Wrapping:
        </dt> 
            <dd class="cart-item-option-description">
                <a href="" data-item-giftwrap="02e3b9c1-7767-4c7c-973d-5a6ac01a5f9d">Add</a>
            </dd>
    </dl>-->
    
        </td>
                <td class="cart-item-block cart-item-info cart-item-price">
                    <span class="cart-item-label">Price:</span>
                        <span class="cart-item-value "><%=item.productId?.discountPrice %></span>
                </td>
                <!--onclick="decreaseQuantity('<%= item.productId._id %>')" -->
                <!-- onclick="increaseQuantity('<%= item.productId._id %>')" -->

                <td id="quantity" class="cart-item-block cart-item-info cart-item-quantity form-field--increments ">
                    <label class="form-label cart-item-label" for="qty-<%= item?.productId._id %>">Quantity:</label>
                    <div class="form-increment">
                        <button class="button--icon decrease-btn" data-product-id="<%= item.productId._id %>" data-action="dec">
                            <span class="is-srOnly">Decrease Quantity:</span>
                        </button>
                        <input class="form-input form-input--incrementTotal cart-item-qty-input"
                               id="qty-<%= item.productId._id %>"
                               name="qty-<%= item.productId._id %>"
                               type="tel"
                               value="<%= item.quantity %>"
                               min="1"
                               max="5"
                               pattern="[0-9]*"
                               data-product-id="<%= item.productId._id %>"
                               aria-live="polite">
                        <button class="button--icon increase-btn" data-product-id="<%= item.productId._id %>" data-action="inc">
                            <span class="is-srOnly">Increase Quantity:</span>
                        </button>
                    </div>
                </td>
                <td id="total" class=" cart-item-block cart-item-info cart-item-price ">
                    <span class="cart-item-label">Total:</span>
                
         <!--   --><span id="total-<%= item.productId._id %>" class="cart-item-value total">
    <%= item.quantity * item.productId.discountPrice %>
</span>
                        <a type="button" onclick="deleteProduct('<%= item.productId._id %>')"  class="cart-remove icon" data-cart-itemid="02e3b9c1-7767-4c7c-973d-5a6ac01a5f9d" data-confirm-delete="Are you sure you want to delete this item?">
                            <svg><use xlink:href="#icon-close"></use></svg>
                        </a>
                </td>
            </tr>
            <%  } ) %>
    </tbody>  
</table>
<% if (cartItems.length != 0) { %>
                <div class="cart-actions-group">
                    <div class="cart-actions">
                        <div class="cart-empty" data-cart-empty>
                            <button class="button" id="emptyCart" data-confirm="Are you sure you want to delete this item?" onclick="clearCart()">Clear Shopping Cart</button>
                        </div>
                        <!-- https://luxwatches-demo-02.mybigcommerce.com/ -->
                        <a class="button btn-continue" href="/home" title="Continue shopping">Continue shopping</a>
                    </div>
                </div>
             </div>   

                <div data-cart-totals>
                    <div class="cart-totals">
   

    <!-- <div class="middle-column column">
            <div class="cart-total">
                <div class="cart-total-header">
    <div class="cart-total-label">
        Shipping:
    </div>
        <div class="cart-total-value add">
            <button class="shipping-estimate-show">Add Info</button>
            <button class="shipping-estimate-hide" style="display: none;">Cancel</button>
        </div>
</div>
<div class="shipping-estimator">
    <label>Enter your destination to get a shipping estimate &amp; tax</label>
    <form class="form estimator-form" data-shipping-estimator>
        <dl>
            <dt class="estimator-form-label">
                <label class="form-label" for="shipping-country">Country</label>
            </dt>

            <dd class="estimator-form-input">
                <select class="form-select" id="shipping-country" name="shipping-country" data-field-type="Country">
                    <option>Country</option>
                        <option value="1" >
                            Afghanistan
                        </option>
                        <option value="253" >
                            Åland Islands
                        </option>
                        <option value="2" >
                            Albania
                        </option>
                        <option value="3" >
                            Algeria
                        </option>
                        <option value="4" >
                            American Samoa
                        </option>
                        <option value="5" >
                            Andorra
                        </option>
                        <option value="6" >
                            Angola
                        </option>
                        <option value="7" >
                            Anguilla
                        </option>
                        <option value="8" >
                            Antarctica
                        </option>
                        <option value="9" >
                            Antigua and Barbuda
                        </option>
                        <option value="10" >
                            Argentina
                        </option>
                        <option value="11" >
                            Armenia
                        </option>
                        <option value="12" >
                            Aruba
                        </option>
                        <option value="13" >
                            Australia
                        </option>
                        <option value="14" >
                            Austria
                        </option>
                        <option value="15" >
                            Azerbaijan
                        </option>
                        <option value="16" >
                            Bahamas
                        </option>
                        <option value="17" >
                            Bahrain
                        </option>
                        <option value="18" >
                            Bangladesh
                        </option>
                        <option value="19" >
                            Barbados
                        </option>
                        <option value="20" >
                            Belarus
                        </option>
                        <option value="21" >
                            Belgium
                        </option>
                        <option value="22" >
                            Belize
                        </option>
                        <option value="23" >
                            Benin
                        </option>
                        <option value="24" >
                            Bermuda
                        </option>
                        <option value="25" >
                            Bhutan
                        </option>
                        <option value="26" >
                            Bolivia
                        </option>
                        <option value="247" >
                            Bonaire, Sint Eustatius and Saba
                        </option>
                        <option value="27" >
                            Bosnia and Herzegovina
                        </option>
                        <option value="28" >
                            Botswana
                        </option>
                        <option value="29" >
                            Bouvet Island
                        </option>
                        <option value="30" >
                            Brazil
                        </option>
                        <option value="31" >
                            British Indian Ocean Territory
                        </option>
                        <option value="32" >
                            Brunei Darussalam
                        </option>
                        <option value="33" >
                            Bulgaria
                        </option>
                        <option value="34" >
                            Burkina Faso
                        </option>
                        <option value="35" >
                            Burundi
                        </option>
                        <option value="36" >
                            Cambodia
                        </option>
                        <option value="37" >
                            Cameroon
                        </option>
                        <option value="38" >
                            Canada
                        </option>
                        <option value="39" >
                            Cape Verde
                        </option>
                        <option value="40" >
                            Cayman Islands
                        </option>
                        <option value="41" >
                            Central African Republic
                        </option>
                        <option value="42" >
                            Chad
                        </option>
                        <option value="43" >
                            Chile
                        </option>
                        <option value="44" >
                            China
                        </option>
                        <option value="45" >
                            Christmas Island
                        </option>
                        <option value="46" >
                            Cocos (Keeling) Islands
                        </option>
                        <option value="47" >
                            Colombia
                        </option>
                        <option value="48" >
                            Comoros
                        </option>
                        <option value="49" >
                            Congo
                        </option>
                        <option value="50" >
                            Congo, the Democratic Republic of the
                        </option>
                        <option value="51" >
                            Cook Islands
                        </option>
                        <option value="52" >
                            Costa Rica
                        </option>
                        <option value="246" >
                            Cote d&#x27;Ivoire
                        </option>
                        <option value="54" >
                            Croatia
                        </option>
                        <option value="250" >
                            Curaçao
                        </option>
                        <option value="56" >
                            Cyprus
                        </option>
                        <option value="57" >
                            Czech Republic
                        </option>
                        <option value="58" >
                            Denmark
                        </option>
                        <option value="59" >
                            Djibouti
                        </option>
                        <option value="60" >
                            Dominica
                        </option>
                        <option value="61" >
                            Dominican Republic
                        </option>
                        <option value="62" >
                            Ecuador
                        </option>
                        <option value="63" >
                            Egypt
                        </option>
                        <option value="64" >
                            El Salvador
                        </option>
                        <option value="65" >
                            Equatorial Guinea
                        </option>
                        <option value="66" >
                            Eritrea
                        </option>
                        <option value="67" >
                            Estonia
                        </option>
                        <option value="68" >
                            Ethiopia
                        </option>
                        <option value="69" >
                            Falkland Islands (Malvinas)
                        </option>
                        <option value="70" >
                            Faroe Islands
                        </option>
                        <option value="71" >
                            Fiji
                        </option>
                        <option value="72" >
                            Finland
                        </option>
                        <option value="73" >
                            France
                        </option>
                        <option value="74" >
                            French Guiana
                        </option>
                        <option value="75" >
                            French Polynesia
                        </option>
                        <option value="76" >
                            French Southern Territories
                        </option>
                        <option value="77" >
                            Gabon
                        </option>
                        <option value="78" >
                            Gambia
                        </option>
                        <option value="79" >
                            Georgia
                        </option>
                        <option value="80" >
                            Germany
                        </option>
                        <option value="81" >
                            Ghana
                        </option>
                        <option value="82" >
                            Gibraltar
                        </option>
                        <option value="83" >
                            Greece
                        </option>
                        <option value="84" >
                            Greenland
                        </option>
                        <option value="85" >
                            Grenada
                        </option>
                        <option value="86" >
                            Guadeloupe
                        </option>
                        <option value="87" >
                            Guam
                        </option>
                        <option value="88" >
                            Guatemala
                        </option>
                        <option value="242" >
                            Guernsey
                        </option>
                        <option value="89" >
                            Guinea
                        </option>
                        <option value="90" >
                            Guinea-Bissau
                        </option>
                        <option value="91" >
                            Guyana
                        </option>
                        <option value="92" >
                            Haiti
                        </option>
                        <option value="93" >
                            Heard Island and Mcdonald Islands
                        </option>
                        <option value="94" >
                            Holy See (Vatican City State)
                        </option>
                        <option value="95" >
                            Honduras
                        </option>
                        <option value="96" >
                            Hong Kong
                        </option>
                        <option value="97" >
                            Hungary
                        </option>
                        <option value="98" >
                            Iceland
                        </option>
                        <option value="99" selected="selected">
                            India
                        </option>
                        <option value="100" >
                            Indonesia
                        </option>
                        <option value="102" >
                            Iraq
                        </option>
                        <option value="103" >
                            Ireland
                        </option>
                        <option value="240" >
                            Isle of Man
                        </option>
                        <option value="104" >
                            Israel
                        </option>
                        <option value="105" >
                            Italy
                        </option>
                        <option value="106" >
                            Jamaica
                        </option>
                        <option value="107" >
                            Japan
                        </option>
                        <option value="241" >
                            Jersey
                        </option>
                        <option value="108" >
                            Jordan
                        </option>
                        <option value="109" >
                            Kazakhstan
                        </option>
                        <option value="110" >
                            Kenya
                        </option>
                        <option value="111" >
                            Kiribati
                        </option>
                        <option value="113" >
                            Korea, Republic of
                        </option>
                        <option value="114" >
                            Kuwait
                        </option>
                        <option value="115" >
                            Kyrgyzstan
                        </option>
                        <option value="243" >
                            Lao People&#x27;s Democratic Republic
                        </option>
                        <option value="117" >
                            Latvia
                        </option>
                        <option value="118" >
                            Lebanon
                        </option>
                        <option value="119" >
                            Lesotho
                        </option>
                        <option value="120" >
                            Liberia
                        </option>
                        <option value="121" >
                            Libya
                        </option>
                        <option value="122" >
                            Liechtenstein
                        </option>
                        <option value="123" >
                            Lithuania
                        </option>
                        <option value="124" >
                            Luxembourg
                        </option>
                        <option value="125" >
                            Macao
                        </option>
                        <option value="127" >
                            Madagascar
                        </option>
                        <option value="128" >
                            Malawi
                        </option>
                        <option value="129" >
                            Malaysia
                        </option>
                        <option value="130" >
                            Maldives
                        </option>
                        <option value="131" >
                            Mali
                        </option>
                        <option value="132" >
                            Malta
                        </option>
                        <option value="133" >
                            Marshall Islands
                        </option>
                        <option value="134" >
                            Martinique
                        </option>
                        <option value="135" >
                            Mauritania
                        </option>
                        <option value="136" >
                            Mauritius
                        </option>
                        <option value="137" >
                            Mayotte
                        </option>
                        <option value="138" >
                            Mexico
                        </option>
                        <option value="139" >
                            Micronesia, Federated States of
                        </option>
                        <option value="140" >
                            Moldova, Republic of
                        </option>
                        <option value="141" >
                            Monaco
                        </option>
                        <option value="142" >
                            Mongolia
                        </option>
                        <option value="245" >
                            Montenegro
                        </option>
                        <option value="143" >
                            Montserrat
                        </option>
                        <option value="144" >
                            Morocco
                        </option>
                        <option value="145" >
                            Mozambique
                        </option>
                        <option value="146" >
                            Myanmar
                        </option>
                        <option value="147" >
                            Namibia
                        </option>
                        <option value="148" >
                            Nauru
                        </option>
                        <option value="149" >
                            Nepal
                        </option>
                        <option value="150" >
                            Netherlands
                        </option>
                        <option value="151" >
                            Netherlands Antilles
                        </option>
                        <option value="152" >
                            New Caledonia
                        </option>
                        <option value="153" >
                            New Zealand
                        </option>
                        <option value="154" >
                            Nicaragua
                        </option>
                        <option value="155" >
                            Niger
                        </option>
                        <option value="156" >
                            Nigeria
                        </option>
                        <option value="157" >
                            Niue
                        </option>
                        <option value="158" >
                            Norfolk Island
                        </option>
                        <option value="159" >
                            Northern Mariana Islands
                        </option>
                        <option value="160" >
                            Norway
                        </option>
                        <option value="161" >
                            Oman
                        </option>
                        <option value="162" >
                            Pakistan
                        </option>
                        <option value="163" >
                            Palau
                        </option>
                        <option value="164" >
                            Palestinian Territory, Occupied
                        </option>
                        <option value="165" >
                            Panama
                        </option>
                        <option value="166" >
                            Papua New Guinea
                        </option>
                        <option value="167" >
                            Paraguay
                        </option>
                        <option value="168" >
                            Peru
                        </option>
                        <option value="169" >
                            Philippines
                        </option>
                        <option value="170" >
                            Pitcairn
                        </option>
                        <option value="171" >
                            Poland
                        </option>
                        <option value="172" >
                            Portugal
                        </option>
                        <option value="173" >
                            Puerto Rico
                        </option>
                        <option value="174" >
                            Qatar
                        </option>
                        <option value="248" >
                            Republic of Kosovo
                        </option>
                        <option value="126" >
                            Republic of North Macedonia
                        </option>
                        <option value="175" >
                            Reunion
                        </option>
                        <option value="176" >
                            Romania
                        </option>
                        <option value="177" >
                            Russian Federation
                        </option>
                        <option value="178" >
                            Rwanda
                        </option>
                        <option value="179" >
                            Saint Helena
                        </option>
                        <option value="180" >
                            Saint Kitts and Nevis
                        </option>
                        <option value="181" >
                            Saint Lucia
                        </option>
                        <option value="251" >
                            Saint Martin (France)
                        </option>
                        <option value="182" >
                            Saint Pierre and Miquelon
                        </option>
                        <option value="183" >
                            Saint Vincent and the Grenadines
                        </option>
                        <option value="184" >
                            Samoa
                        </option>
                        <option value="185" >
                            San Marino
                        </option>
                        <option value="186" >
                            Sao Tome and Principe
                        </option>
                        <option value="187" >
                            Saudi Arabia
                        </option>
                        <option value="188" >
                            Senegal
                        </option>
                        <option value="189" >
                            Serbia
                        </option>
                        <option value="190" >
                            Seychelles
                        </option>
                        <option value="191" >
                            Sierra Leone
                        </option>
                        <option value="192" >
                            Singapore
                        </option>
                        <option value="249" >
                            Sint Maarten
                        </option>
                        <option value="193" >
                            Slovakia
                        </option>
                        <option value="194" >
                            Slovenia
                        </option>
                        <option value="195" >
                            Solomon Islands
                        </option>
                        <option value="196" >
                            Somalia
                        </option>
                        <option value="197" >
                            South Africa
                        </option>
                        <option value="198" >
                            South Georgia and the South Sandwich Islands
                        </option>
                        <option value="199" >
                            Spain
                        </option>
                        <option value="200" >
                            Sri Lanka
                        </option>
                        <option value="252" >
                            St. Barthélemy
                        </option>
                        <option value="201" >
                            Sudan
                        </option>
                        <option value="202" >
                            Suriname
                        </option>
                        <option value="203" >
                            Svalbard and Jan Mayen
                        </option>
                        <option value="204" >
                            Swaziland
                        </option>
                        <option value="205" >
                            Sweden
                        </option>
                        <option value="206" >
                            Switzerland
                        </option>
                        <option value="208" >
                            Taiwan
                        </option>
                        <option value="209" >
                            Tajikistan
                        </option>
                        <option value="210" >
                            Tanzania, United Republic of
                        </option>
                        <option value="211" >
                            Thailand
                        </option>
                        <option value="212" >
                            Timor-Leste
                        </option>
                        <option value="213" >
                            Togo
                        </option>
                        <option value="214" >
                            Tokelau
                        </option>
                        <option value="215" >
                            Tonga
                        </option>
                        <option value="216" >
                            Trinidad and Tobago
                        </option>
                        <option value="217" >
                            Tunisia
                        </option>
                        <option value="218" >
                            Turkey
                        </option>
                        <option value="219" >
                            Turkmenistan
                        </option>
                        <option value="220" >
                            Turks and Caicos Islands
                        </option>
                        <option value="221" >
                            Tuvalu
                        </option>
                        <option value="222" >
                            Uganda
                        </option>
                        <option value="223" >
                            Ukraine
                        </option>
                        <option value="224" >
                            United Arab Emirates
                        </option>
                        <option value="225" >
                            United Kingdom
                        </option>
                        <option value="226" >
                            United States
                        </option>
                        <option value="227" >
                            United States Minor Outlying Islands
                        </option>
                        <option value="228" >
                            Uruguay
                        </option>
                        <option value="229" >
                            Uzbekistan
                        </option>
                        <option value="230" >
                            Vanuatu
                        </option>
                        <option value="231" >
                            Venezuela
                        </option>
                        <option value="232" >
                            Viet Nam
                        </option>
                        <option value="233" >
                            Virgin Islands, British
                        </option>
                        <option value="234" >
                            Virgin Islands, U.S.
                        </option>
                        <option value="235" >
                            Wallis and Futuna
                        </option>
                        <option value="236" >
                            Western Sahara
                        </option>
                        <option value="237" >
                            Yemen
                        </option>
                        <option value="238" >
                            Zambia
                        </option>
                        <option value="239" >
                            Zimbabwe
                        </option>
                </select>
            </dd>
            <dt class="estimator-form-label">
                <label class="form-label" for="shipping-state">State/province</label>
            </dt>

            <dd class="estimator-form-input">
                    <select class="form-select" id="shipping-state" name="shipping-state" data-field-type="State">
                        <option>State/province</option>
                            <option value="301" >
                                Andaman and Nicobar Islands
                            </option>
                            <option value="273" >
                                Andhra Pradesh
                            </option>
                            <option value="274" >
                                Arunachal Pradesh
                            </option>
                            <option value="275" >
                                Assam
                            </option>
                            <option value="276" >
                                Bihar
                            </option>
                            <option value="302" >
                                Chandigarh
                            </option>
                            <option value="277" >
                                Chhattisgarh
                            </option>
                            <option value="303" >
                                Dadra and Nagar Haveli
                            </option>
                            <option value="304" >
                                Daman &amp; Diu
                            </option>
                            <option value="306" >
                                Delhi
                            </option>
                            <option value="278" >
                                Goa
                            </option>
                            <option value="279" >
                                Gujarat
                            </option>
                            <option value="280" >
                                Haryana
                            </option>
                            <option value="281" >
                                Himachal Pradesh
                            </option>
                            <option value="282" >
                                Jammu &amp; Kashmir
                            </option>
                            <option value="283" >
                                Jharkhand
                            </option>
                            <option value="284" >
                                Karnataka
                            </option>
                            <option value="285" >
                                Kerala
                            </option>
                            <option value="305" >
                                Lakshadweep
                            </option>
                            <option value="286" >
                                Madhya Pradesh
                            </option>
                            <option value="287" >
                                Maharashtra
                            </option>
                            <option value="288" >
                                Manipur
                            </option>
                            <option value="289" >
                                Meghalaya
                            </option>
                            <option value="290" >
                                Mizoram
                            </option>
                            <option value="291" >
                                Nagaland
                            </option>
                            <option value="292" >
                                Odisha
                            </option>
                            <option value="307" >
                                Puducherry
                            </option>
                            <option value="293" >
                                Punjab
                            </option>
                            <option value="294" >
                                Rajasthan
                            </option>
                            <option value="295" >
                                Sikkim
                            </option>
                            <option value="296" >
                                Tamil Nadu
                            </option>
                            <option value="308" >
                                Telangana
                            </option>
                            <option value="297" >
                                Tripura
                            </option>
                            <option value="299" >
                                Uttar Pradesh
                            </option>
                            <option value="298" >
                                Uttarakhand
                            </option>
                            <option value="300" >
                                West Bengal
                            </option>
                    </select>
            </dd>

            <dt class="estimator-form-label">
                <label class="form-label" for="shipping-city">Suburb/city</label>
            </dt>
            <dd class="estimator-form-input">
                <input class="form-input" type="text" id="shipping-city" name="shipping-city" value="" placeholder="Suburb/city">
            </dd>

            <dt class="estimator-form-label">
                <label class="form-label" for="shipping-zip">Zip/postcode</label>
            </dt>
            <dd class="estimator-form-input">
                <input class="form-input" type="text" id="shipping-zip" name="shipping-zip" value="" placeholder="Zip/postcode">
            </dd>
            <button class="button button--primary button--small shipping-estimate-submit">Calculate Shipping</button>
        </dl>
    </form>
    <div class="shipping-quotes"></div>
</div>
            </div>
    </div> -->
    
    <div class="right-column column">
        <div class="cart-total">
            <div class="cart-total-header">
                <div class="cart-total-label">
                    Cart Summary:
                </div>
            </div>
        </div>
        <div class="cart-total subtotal">
            <div class="cart-total-label">Subtotal:</div>
            <div class="cart-total-value">
                <span id="subtotal-value"><%= cartItems.reduce((total, item) => total + (item.quantity * item.productId.discountPrice), 0) %></span>
            </div>
        </div>
        <!-- <div class="cart-total end">
            <div class="cart-total-label">Discount:</div>
            <div class="cart-total-value">
                <span id="discount-value">0</span>
            </div>
        </div>
        <div class="cart-total end">
            <div class="cart-total-label">Grand Total:</div>
            <div class="cart-total-value">
                <span id="grand-total-value"><%= cartItems?.reduce((total, item) => total + (item?.quantity * item?.productId?.discountPrice), 0) %></span>
            </div>
        </div> -->

            <div class="cart-actions">
                <a class="button button--checkout" id="checkoutButton" href="/checkout" title="Click here to proceed to checkout">Proceed To Checkout</a>
            </div>

            <!-- <div class="cart-additionalCheckoutButtons">
                    <div class="FloatRight PayPalExpressCheckout RemoteCheckout CheckoutButton">

		    <p class="or-use-label">-- or use --</p>
	
	<div>
		<form method="post" action="https://luxwatches-demo-02.mybigcommerce.com/checkout.php">
						<input type="image" name="submit" alt="Checkout with PayPal" src="//www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-small.png" />
						<input type="hidden" name="provider" value="paypalexpress" />
			<input type="hidden" name="action" value="set_external_checkout" />
		</form>
	</div>
</div>

            </div> -->
            <div class="secure">
    <div class="text-group">
        <div class="icon">
            <svg class="icon"><use xlink:href="#icon-secure"></use></svg>
        </div>
        <div class="text">
            <p>Secure Shopping Guarantee. Your information is secure.</p>
        </div>
    </div>
    
    <!-- <div class="help"> 
        <span>Need Help?</span> <a href="/contact-us">Contact Us</a> or Get in touch <a href="tel:+1.900.000.6690">+1.900.000.6690</a>
    </div> -->

</div>
    </div>
</div>
                </div>
                    <div class="cart-seal-logos">
	<img src="https://cdn11.bigcommerce.com/s-2nfdiyehvz/stencil/558781b0-6ef6-013b-f567-4afeb0a3a797/e/960150f0-c5aa-0139-ef11-066281ecf407/img/master-card-secure.png" alt="Master Card Secure">
	<img src="https://cdn11.bigcommerce.com/s-2nfdiyehvz/stencil/558781b0-6ef6-013b-f567-4afeb0a3a797/e/960150f0-c5aa-0139-ef11-066281ecf407/img/visa-verify.png" alt="Visa Verify">
	<img src="https://cdn11.bigcommerce.com/s-2nfdiyehvz/stencil/558781b0-6ef6-013b-f567-4afeb0a3a797/e/960150f0-c5aa-0139-ef11-066281ecf407/img/norton.png" alt="Norton">
	<img src="https://cdn11.bigcommerce.com/s-2nfdiyehvz/stencil/558781b0-6ef6-013b-f567-4afeb0a3a797/e/960150f0-c5aa-0139-ef11-066281ecf407/img/etrust.png" alt="Etrust">
	<img src="https://cdn11.bigcommerce.com/s-2nfdiyehvz/stencil/558781b0-6ef6-013b-f567-4afeb0a3a797/e/960150f0-c5aa-0139-ef11-066281ecf407/img/authorized-net.png" alt="Authorized.net">
	<img src="https://cdn11.bigcommerce.com/s-2nfdiyehvz/stencil/558781b0-6ef6-013b-f567-4afeb0a3a797/e/960150f0-c5aa-0139-ef11-066281ecf407/img/accredited-business.png" alt="Accredited Business">
</div>

        </main>
    </div>
</div>

    <div id="modal" class="modal" data-reveal data-prevent-quick-search-close>
    <a href="#" class="modal-close" aria-label="Close" role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <div class="modal-content"></div>
    <div class="loadingOverlay"></div>
</div>
    <div id="alert-modal" class="modal modal--alert modal--small" data-reveal data-prevent-quick-search-close>
    <div class="swal2-icon swal2-error swal2-animate-error-icon"><span class="swal2-x-mark swal2-animate-x-mark"><span class="swal2-x-mark-line-left"></span><span class="swal2-x-mark-line-right"></span></span></div>

    <div class="modal-content"></div>

    <div class="button-container"><button type="button" class="confirm button" data-reveal-close>OK</button></div>
</div>
</div>
<% } } %>
<!-- -->

 <script>
 //Increase and decrease quantity
document.querySelectorAll('.increase-btn, .decrease-btn').forEach(button => {
        button.addEventListener('click', async function (e) {
            const productId = this.getAttribute('data-product-id');
            const inputField = document.getElementById(`qty-${productId}`);
            let currentQuantity = parseInt(inputField.value);
            const action = this.getAttribute('data-action');

            // Determine new quantity
            let newQuantity = action === 'inc' ? currentQuantity + 1 : currentQuantity - 1;

            // Check frontend limits
            if (newQuantity > 5) {
                Swal.fire({
                  icon: "warning",
                  title: "Maximum quantity reached",
                  text: "You can't add more than 5 units of any product",
                  showConfirmButton: false,
                  timer:1000
                });
                return;
            }

            if ( newQuantity < 1 ) {
                Swal.fire({
                    icon: "warning",
                    title: "Minimum quantity reached",
                    text: "You can't have less than one of this product",
                    showConfirmButton: false,
                    timer:1000
                });
                return;
            }

        try {
            const response = await axios.post('/cart/changeQuantity', {
                productId: productId,
                quantity: newQuantity
            });

            inputField.value = response.data.newQuantity;

            // Update cart subtotal
            document.getElementById('subtotal-value').innerText = response.data.newTotal;

            // Update the product total using the correct ID Now it is commented
             document.getElementById(`total-${productId}`).innerText = response.data.productTotal;
        } catch (error) {
    if (error.response) {
        const { status, data } = error.response;

        if (status === 400 ) {
            Swal.fire({
                icon: "error",
                title: "Insufficiant Stock",
                text: data.message,
                showConfirmButton: false,
                timer: 1000
            });
        }else if (status === 401 || status === 402 || status === 403) {
            Swal.fire({
                icon: "error",
                title: "Error",
                text: data.message,
                showConfirmButton: false,
                timer: 1000
            });
        }
    } else {
        Swal.fire({
            icon: "error",
            title: "An unexpected error occurred",
            showConfirmButton: false,
            timer: 1000
        });
    }}
    });
});
</script>

<script>
    //Delete single element from the cart and Clear the Cart
 async function deleteProduct(productId) {
    const result = await Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!'
    });

    if (result.isConfirmed) {
        const response = await fetch('/deleteProduct', {
            method: "DELETE",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ productId })
        });

        const result = await response.json();

        if (response.status === 200) {
            (() => {
                     location.reload(); // Reload the page to update the cart
                })()

        } else {
            Swal.fire({
                icon: "error",
                title: "Error",
                text: result.error || "An error occurred",
                showConfirmButton: true
            });
        }
    }
}

// Clear the cart
async function clearCart() {
    const result = await Swal.fire({
        title: 'Are you sure?',
        text: "This will remove all items from your cart!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, clear it!'
    });

    if (result.isConfirmed) {
        const response = await fetch('/clearCart', {
            method: "DELETE",
            headers: {
                'Content-Type': 'application/json'
            }
        });

     const result = await response.json();

        if (response.status === 200) {
            // updateCartUI([]);
            (() => {
                     location.reload(); // Reload the page to update the cart
                })()

        } else {
            Swal.fire({
                icon: "error",
                title: "Error",
                text: result.error || "An error occurred",
                showConfirmButton: true
            });
        }
    }
}
</script>

<script>
//stock checking before checkout 
    document.getElementById('checkoutButton').addEventListener('click', async (e) => {
        e.preventDefault(); // Prevent default action
        
        // Get cart items
        const cartItems = [];
        document.querySelectorAll('.cart-item').forEach(itemRow => {
            const productId = itemRow.getAttribute('data-product-id');
            const quantity = itemRow.querySelector('.cart-item-qty-input').value;
            cartItems.push({ productId, quantity: parseInt(quantity) });
        });

        try {
            // Make axios POST request to check stock
            const response = await axios.post('/stockCheck', { cartItems });

            if (response.data.success) {
                // If stock is available, redirect to the checkout page
                window.location.href = "/checkout";
            } else {
                // Display SweetAlert for out of stock items
                const outOfStockProducts = response.data.outOfStockProducts;
                let productList = outOfStockProducts.map(product => `${product.productName} (Available: ${product.available}, In Cart: ${product.inCart})`).join('<br>');

                Swal.fire({
                    icon: 'error',
                    title: 'Out of Stock,Reduce it',
                    html: `Some products are out of stock:<br><b>Please Reduce the quantity of the following</b></p>
                    <ul><b>${productList}</b></ul>`,
                    confirmButtonText: 'OK'
                });
            }
        } catch (error) {
            console.error('Error checking stock:', error);
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'An error occurred while checking stock. Please try again later.',
                confirmButtonText: 'OK'
            });
        }
    });
</script>

<script>
    async function increaseQuantity(productId) {
        const response = await fetch('/increaseQty', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ productId })
        });

        const result = await response.json();

        if (response.status === 200) {
            Swal.fire({
                    icon: "success",
                    title: "Product quantity increased",
                    showConfirmButton: false,
                    timer:1000
                 }).then(() => {
                     location.reload(); // Reload the page to update the cart
                });
                
                

        } else if (response.status === 400 && result.message === 'Maximum quantity reached') {
            Swal.fire({
                icon: "warning",
                title: "Maximum quantity reached",
                text: "You can't add more than 5 units of this product",
                showConfirmButton: true
            });
        } else if (response.status === 401) {
            Swal.fire({
                icon: "warning",
                title: "You are not logged in",
                text: "Please log in to update your cart",
                showConfirmButton: true
            });
        } else if (response.status === 404) {
            Swal.fire({
                icon: "error",
                title: "Product not found",
                text: "This product is not in your cart",
                showConfirmButton: true
            });
        } else {
            Swal.fire({
                icon: "error",
                title: "Error",
                text: result.error || "An error occurred",
                showConfirmButton: true
            });
        }
    }

// Decrease quantity 
async function decreaseQuantity(productId) {
            const response = await fetch('/decreaseQty', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ productId })
            });

            const result = await response.json();

            if (response.status === 200) {
                // // Update the cart UI dynamically
                // updateCartUI(result.cartItems);
                Swal.fire({
                    icon: "success",
                    title: "Product quantity decreased",
                    showConfirmButton: false,
                    timer:1000
                 }).then(() => {
                     location.reload(); // Reload the page to update the cart
                });
            } else if (response.status === 400 && result.message === 'Minimum quantity reached') {
                Swal.fire({
                    icon: "warning",
                    title: "Minimum quantity reached",
                    text: "You can't have less than one of this product",
                    showConfirmButton: true
                });
            } else if (response.status === 401) {
                Swal.fire({
                    icon: "warning",
                    title: "You are not logged in",
                    text: "Please log in to update your cart",
                    showConfirmButton: true
                });
            } else if (response.status === 404) {
                Swal.fire({
                    icon: "error",
                    title: "Product not found",
                    text: "This product is not in your cart",
                    showConfirmButton: true
                });
            } else {
                Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: result.error || "An error occurred",
                    showConfirmButton: true
                });
            }
        }

        function updateCartUI(cartItems) {
            // Assuming you have an element with id "cart-table-body" for the cart items
            const cartTableBody = document.getElementById('cart-table-body');
            cartTableBody.innerHTML = ''; // Clear the current content

            cartItems.forEach(item => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td><img src="${item.productId.productImage[0]}" alt="${item.productId.productName}"></td>
                    <td>${item.productId.productName}</td>
                    <td>${item.productId.discontPrice}</td>
                    <td>${item.quantity}</td>
                    <td>${item.quantity * item.productId.discountPrice}</td>
                    <td>
                        <button class="button--icon" data-cart-update data-cart-itemid="02e3b9c1-7767-4c7c-973d-5a6ac01a5f9d" data-action="dec"
                            onclick="decreaseQuantity('${item.productId._id}')">
                                <span class="is-srOnly">Decrease Quantity:</span>
                            </button>
                        <button class="button--icon" data-cart-update data-cart-itemid="02e3b9c1-7767-4c7c-973d-5a6ac01a5f9d" data-action="inc"
                            onclick="increaseQuantity('${item.productId._id}')">
                                <span class="is-srOnly">Increase Quantity:</span>
                            </button>
                    </td>
                `;
                cartTableBody.appendChild(row);
            });

            // Update the total price
            const totalPrice = cartItems.reduce((total, item) => total + (item.quantity * item.productId.discontPrice), 0);
            document.getElementById('total-price').innerText = `Total: ${totalPrice}`;
        }
        // //  function updateCartUI(cartItems) {
        //     const cartTableBody = document.getElementById('cart-table-body');

        //     // Update the quantity and total price for each item
        //     cartItems.forEach(item => {
        //         const row = document.querySelector(`tr[data-product-id="${item.productId._id}"]`);
        //         if (row) {
        //             row.querySelector('#quantity').innerText = item.quantity;
        //             row.querySelector('#total').innerText = item.quantity * item.productId.price;
        //         }
        //     });

        //     // Update the grand total price
        //     const totalPrice = cartItems.reduce((total, item) => total + (item.quantity * item.productId.price), 0);
        //     document.getElementById('total-price').innerText = `Total: ${totalPrice}`;
        // }
</script>

<%- include("../user_partials/footer") %>