<%- include("../user_partials/header") %>
<!-- Header ends -->
<!-- Home Body Starts -->
    <div class="body" data-currency-code="USD">
    <div data-content-region="home_below_menu"></div>
    <section class="heroCarousel"
data-slick='{
    "arrows": false,
    "dots": true,
    "mobileFirst": true,
    "slidesToShow": 1,
    "slidesToScroll": 1,
    "autoplay": true,
    "adaptiveHeight": true,
    "autoplaySpeed": 5000,
    "lazyLoad": "anticipated",
    "responsive": [
        {
            "breakpoint": 1025,
            "settings": {
                "dots": true,
                "arrows": true
            }
        }
    ]
}'>
<a href="#" class="slide-item">
    <div class="heroCarousel-slide  heroCarousel-slide--first">
        <div class="heroCarousel-image-wrapper" style="height: 40.74074074074074vw">
                <img src="../cdn11.bigcommerce.com/s-2nfdiyehvz/images/stencil/1280w/carousel/3/slideshow-14847.jpg?c=2" alt="" title="" data-sizes="auto"
srcset="https://cdn11.bigcommerce.com/s-2nfdiyehvz/images/stencil/80w/carousel/3/slideshow-1.jpg?c=2 80w, https://cdn11.bigcommerce.com/s-2nfdiyehvz/images/stencil/160w/carousel/3/slideshow-1.jpg?c=2 160w, https://cdn11.bigcommerce.com/s-2nfdiyehvz/images/stencil/320w/carousel/3/slideshow-1.jpg?c=2 320w, https://cdn11.bigcommerce.com/s-2nfdiyehvz/images/stencil/640w/carousel/3/slideshow-1.jpg?c=2 640w, https://cdn11.bigcommerce.com/s-2nfdiyehvz/images/stencil/960w/carousel/3/slideshow-1.jpg?c=2 960w, https://cdn11.bigcommerce.com/s-2nfdiyehvz/images/stencil/1280w/carousel/3/slideshow-1.jpg?c=2 1280w, https://cdn11.bigcommerce.com/s-2nfdiyehvz/images/stencil/1890w/carousel/3/slideshow-1.jpg?c=2 1890w"

class=" heroCarousel-image"/>
            <div class="heroCarousel-title-mobile">Cosmopolis</div>
        </div>
            <div class="heroCarousel-content text-center">
<h1 class="heroCarousel-title">Cosmopolis</h1>
<p class="heroCarousel-description">Quisquemos sodales suscipit tortor ditaemcos milancelos condimentum de cosmo lacus meleifend blanditos.</p>
<div class="btn-group">
        <span class="heroCarousel-action button button--primary button--large">Shop This Collection</span>
</div>
</div>
    </div>
</a>
<a href="#" class="slide-item">
    <div class="heroCarousel-slide ">
        <div class="heroCarousel-image-wrapper" style="height: 40.74074074074074vw">
                <img src="../cdn11.bigcommerce.com/s-2nfdiyehvz/images/stencil/1280w/carousel/9/slideshow-home2-1__818094847.jpg?c=2" alt="" title="" data-sizes="auto"
srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
data-srcset="https://cdn11.bigcommerce.com/s-2nfdiyehvz/images/stencil/80w/carousel/9/slideshow-home2-1__81809.jpg?c=2 80w, https://cdn11.bigcommerce.com/s-2nfdiyehvz/images/stencil/160w/carousel/9/slideshow-home2-1__81809.jpg?c=2 160w, https://cdn11.bigcommerce.com/s-2nfdiyehvz/images/stencil/320w/carousel/9/slideshow-home2-1__81809.jpg?c=2 320w, https://cdn11.bigcommerce.com/s-2nfdiyehvz/images/stencil/640w/carousel/9/slideshow-home2-1__81809.jpg?c=2 640w, https://cdn11.bigcommerce.com/s-2nfdiyehvz/images/stencil/960w/carousel/9/slideshow-home2-1__81809.jpg?c=2 960w, https://cdn11.bigcommerce.com/s-2nfdiyehvz/images/stencil/1280w/carousel/9/slideshow-home2-1__81809.jpg?c=2 1280w, https://cdn11.bigcommerce.com/s-2nfdiyehvz/images/stencil/1890w/carousel/9/slideshow-home2-1__81809.jpg?c=2 1890w"

class="lazyload heroCarousel-image"
loading="lazy"/>
            <div class="heroCarousel-title-mobile">Milancelos</div>
        </div>
            <div class="heroCarousel-content text-center">
<h1 class="heroCarousel-title">Milancelos</h1>
<p class="heroCarousel-description">Quisquemos sodales suscipit tortor ditaemcos milancelos condime</p>
<div class="btn-group">
        <span class="heroCarousel-action button button--primary button--large">Shop This Collection</span>
</div>
</div>
    </div>
</a>
<a href="#" class="slide-item">
    <div class="heroCarousel-slide ">
        <div class="heroCarousel-image-wrapper" style="height: 40.74074074074074vw">
                <img src="../cdn11.bigcommerce.com/s-2nfdiyehvz/images/stencil/1280w/carousel/5/slideshow-34847.jpg?c=2" alt="" title="" data-sizes="auto"
srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
data-srcset="https://cdn11.bigcommerce.com/s-2nfdiyehvz/images/stencil/80w/carousel/5/slideshow-3.jpg?c=2 80w, https://cdn11.bigcommerce.com/s-2nfdiyehvz/images/stencil/160w/carousel/5/slideshow-3.jpg?c=2 160w, https://cdn11.bigcommerce.com/s-2nfdiyehvz/images/stencil/320w/carousel/5/slideshow-3.jpg?c=2 320w, https://cdn11.bigcommerce.com/s-2nfdiyehvz/images/stencil/640w/carousel/5/slideshow-3.jpg?c=2 640w, https://cdn11.bigcommerce.com/s-2nfdiyehvz/images/stencil/960w/carousel/5/slideshow-3.jpg?c=2 960w, https://cdn11.bigcommerce.com/s-2nfdiyehvz/images/stencil/1280w/carousel/5/slideshow-3.jpg?c=2 1280w, https://cdn11.bigcommerce.com/s-2nfdiyehvz/images/stencil/1890w/carousel/5/slideshow-3.jpg?c=2 1890w"

class="lazyload heroCarousel-image" loading="lazy"/>
            <div class="heroCarousel-title-mobile">Special Offers</div>
        </div>
            <div class="heroCarousel-content text-center">
<h1 class="heroCarousel-title">Special Offers</h1>
<p class="heroCarousel-description">Quisquemos sodales suscipit tortor ditaemcos milancelos condimentum de cosmo lacus meleifend blanditos.</p>
<div class="btn-group">
        <span class="heroCarousel-action button button--primary button--large">Shop Mens</span>
</div>
</div>
    </div>
</a>
</section>
<div data-content-region="home_below_carousel"></div>

<div class="main full">
<div data-content-region="home_below_shipping_block"><div data-layout-id="7a9e1549-35ef-4e8a-a5e6-f48e3ad3639b"><div data-sub-layout-container="8bd62632-cb71-4174-a300-a599131072a1" data-layout-name="Layout">
<style data-container-styling="8bd62632-cb71-4174-a300-a599131072a1">
[data-sub-layout-container="8bd62632-cb71-4174-a300-a599131072a1"] {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  z-index: 0;
  position: relative;
}
[data-sub-layout-container="8bd62632-cb71-4174-a300-a599131072a1"]:after {
  background-position: center center;
  background-size: cover;
  z-index: auto content "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
</style>
<div data-sub-layout="dcd4bb04-a941-48c6-bca6-b253d5717060">
<style data-column-styling="dcd4bb04-a941-48c6-bca6-b253d5717060">
  [data-sub-layout="dcd4bb04-a941-48c6-bca6-b253d5717060"] {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    z-index: 0;
    justify-content: center;
    position: relative;
  }
  [data-sub-layout="dcd4bb04-a941-48c6-bca6-b253d5717060"]:after {
    background-position: center center;
    background-size: cover;
    z-index: auto content "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @media only screen and (max-width: 700px) {
    [data-sub-layout="dcd4bb04-a941-48c6-bca6-b253d5717060"] {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
</style>
<div data-widget-id="4e56b5d4-c677-44be-97fa-3e9793c9c5b1" data-placement-id="c6f853f7-d389-4c09-b631-34044cc342fc" data-placement-status="ACTIVE"><div id="home-shipping-block" class="themevale_shipping_block">
<div class="container container-small">
<div class="shipping-list" data-slick="{
    &quot;dots&quot;: false,
    &quot;arrows&quot;: false,
    &quot;infinite&quot;: true,
    &quot;mobileFirst&quot;: true,
    &quot;autoplay&quot;: true,
    &quot;slidesToShow&quot;: 1,
    &quot;slidesToScroll&quot;: 1,
    &quot;responsive&quot;: [
        {
            &quot;breakpoint&quot;: 1024,
            &quot;settings&quot;: {
                &quot;slidesToShow&quot;: 4,
                &quot;slidesToScroll&quot;: 4
            }
        },
        {
            &quot;breakpoint&quot;: 991,
            &quot;settings&quot;: {
                &quot;slidesToShow&quot;: 3,
                &quot;slidesToScroll&quot;: 3
            }
        },
        {
            &quot;breakpoint&quot;: 767,
            &quot;settings&quot;: {
                &quot;slidesToShow&quot;: 2,
                &quot;slidesToScroll&quot;: 2
            }
        }
    ]
}">
<div class="item">
<div class="shipping-item">
<div class="shipping-text">Free Shipping WORLDWIDE</div>
</div>
</div>
<div class="item">
<div class="shipping-item">
<div class="shipping-text">Free In-store Returns</div>
</div>
</div>
<div class="item">
<div class="shipping-item">
<div class="shipping-text">Genuine Product Guarantee</div>
</div>
</div>
<div class="item">
<div class="shipping-item">
<div class="shipping-text">100% Secure Shopping</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div></div></div>
  
<div data-content-region="home_below_top_products"></div>

<div id="featuredProduct" class="module-wrapper margin-top-70">
    <div class="container container-small">
        <h2 class="page-heading margin-bottom-40"><span class="title">Featured Products</span></h2>
        
<section id="block_featured" class="productCarousel" data-list-name="" data-slick='{
    "dots": true,
    "arrows": false,
    "infinite": false,
    "mobileFirst": true,
    "slidesToShow": 1,
    "slidesToScroll": 1,
    "responsive": [
        {
            "breakpoint": 1550,
            "settings": {
                "slidesToShow": 4,
                "slidesToScroll": 4,
                "dots": false,
                "arrows": true
            }
        },
        {
            "breakpoint": 1440,
            "settings": {
                    "slidesToShow": 4,
                    "slidesToScroll": 4,
                "dots": false,
                "arrows": true
            }
        },
        {
            "breakpoint": 1280,
            "settings": {
                "slidesToShow": 4,
                "slidesToScroll": 4,
                "dots": false,
                "arrows": true
            }
        },
        {
            "breakpoint": 1024,
            "settings": {
                "slidesToShow": 4,
                "slidesToScroll": 4,
                "dots": true,
                "arrows": false
            }
        },
        {
            "breakpoint": 991,
            "settings": {
                "slidesToShow": 4,
                "slidesToScroll": 4,
                "dots": true,
                "arrows": false
            }
        },
        {
            "breakpoint": 767,
            "settings": {
                "slidesToShow": 3,
                "slidesToScroll": 3,
                "dots": true,
                "arrows": false
            }
        },
        {
            "breakpoint": 320,
            "settings": {
                "slidesToShow": 2,
                "slidesToScroll": 2,
                "dots": true,
                "arrows": false
            }
        }
    ]
}'>
    <% if(product?.length > 0) {
        for(let i=0; i < product.length; i++) { %>
<div class="productCarousel-slide">
    <article class="card" data-product-id="161" >
<figure class="card-figure" data-product-id="161">
    <div class="card-figcaption-top" data-product-id="161">
            <a href="/product/<%= product[i]._id %>" class="wishlist icon" title="Add to Wish List">
                <svg class="icon"><use xlink:href="#icon-wishlist"/></svg>
                <span class="text">Add to Wish List</span>
            </a>
                    <a class="quickview icon" data-product-id="161">
                        <svg class="icon"><use xlink:href="#icon-quickview"></use></svg>
                        <span class="text">Quick view</span>
                    </a>
    </div>

    <% if (product[i].stock < 1) { %>
        <div class="product-badge sale-badge">
          <span class="text">Out of Stock</span>
        </div> <% } %>


    <a href="/product/<%= product[i]._id %>" >
        <div class="card-img-container " data-product-id="161">
            <img src="<%-product[i].productImage[0]%>" alt="Item"
class="lazyload card-image replace-2x img-responsive"/>                
        </div>
    </a>

    <figcaption class="card-figcaption card-show">
        <div class="card-figcaption-body">
            <div class="card-figcaption2"></div>
                    <div class="card-option-size card_optionSize card-option-size-161">
                        <div class="form-field" data-product-attribute="set-rectangle"></div>
                    </div>
                        <a href="/product/<%= product[i]._id %>" data-event-type="product-click" class="button card-figcaption-button themevale_Option" data-product-id="161">Choose Options</a>
        </div>
    </figcaption>
    
</figure>
<div class="card-body">
        <p class="card-brand" data-test-info-type="brandName"><%= product[i].brand %></p>
    <h4 class="card-title">
        <a href="/product/<%= product[i]._id %>" ><%= product[i].productName %></a>
    </h4>
    
    <div class="card-price" data-test-info-type="price">
        <% if (product[i].price === product[i].discountPrice) { %>
            <!-- If price and discountPrice are the same, show only the discountPrice -->
            <div class="price-section price-section--withoutTax rrp-price--withoutTax">
                MRP:
                <span data-product-price-without-tax class="price price--withoutTax">
                    <%= product[i].discountPrice %>
                </span>
            </div>
        <% } else { %>
            <!-- If price and discountPrice are different, show both original price and discounted price -->
            <div class="price-section price-section--withoutTax rrp-price--withoutTax">
                MRP:
                <span data-product-rrp-price-without-tax class="price price--rrp" style="text-decoration: line-through; color: gray;">
                    <%= product[i].price %>
                </span>
            </div>
            <div class="price-section price-section--withoutTax">
                <span class="price-now-label">Now:</span>
                <span data-product-price-without-tax class="price price--withoutTax">
                    <%= product[i].discountPrice %>
                </span>
            </div>
        <% } %>
    </div>
    
    
    <div class="card-desc">
            <p>Nam tempus turpis at metus scelerisque placerat nulla deumantos sollicitudin delos felis. Pellentesquae diam dolor an elementum et lobortis at mollis ut risus. Curabitur semper sagittis mino de...</p>
    </div>

        <p class="card-rating" data-test-info-type="productRating">
            <span class="rating--small">
                        <span class="icon icon--ratingEmpty">
        <svg>
            <use xlink:href="#icon-star" />
        </svg>
    </span>
    <span class="icon icon--ratingEmpty">
        <svg>
            <use xlink:href="#icon-star" />
        </svg>
    </span>
    <span class="icon icon--ratingEmpty">
        <svg>
            <use xlink:href="#icon-star" />
        </svg>
    </span>
    <span class="icon icon--ratingEmpty">
        <svg>
            <use xlink:href="#icon-star" />
        </svg>
    </span>
    <span class="icon icon--ratingEmpty">
        <svg>
            <use xlink:href="#icon-star" />
        </svg>
    </span>
<!-- snippet location product_rating -->
            </span>
        </p>
            <div class="card-figcaption2"></div>
        <div class="card-option card_optionImage card-option-161">
            <div class="form-field" data-product-attribute="swatch"></div>
        </div>

        <% if (product[i].stock > 0 && product[i].offer && product[i].offer.length > 0) { %>
            <% if (new Date(product[i].offer[0].expDate) >= new Date()) { %>
            <p><i class="fa-solid fa-tag" style="color: #308a00;"></i> Special Offer Available</p>
            <% } %>
            <% } %>


        <a href="/product/<%= product[i]._id %>" data-event-type="product-click" class="button card-figcaption-button themevale_Option" data-product-id="161">Choose Options</a>
</div>
</article>
</div>
     <% }} else { %><li  colspan="5" class="text-center"> No products To Show </li>  <% } %>

</section>
    </div>           
</div>



<div data-content-region="home_below_banner_two_images"><div data-layout-id="2e45693c-2061-413c-ad51-1cd98a9c6744"><div data-sub-layout-container="a065db25-273a-4125-805e-8b2c97935eb5" data-layout-name="Layout">
<style data-container-styling="a065db25-273a-4125-805e-8b2c97935eb5">
[data-sub-layout-container="a065db25-273a-4125-805e-8b2c97935eb5"] {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  z-index: 0;
  position: relative;
}
[data-sub-layout-container="a065db25-273a-4125-805e-8b2c97935eb5"]:after {
  background-position: center center;
  background-size: cover;
  z-index: auto content "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
</style>
<div data-sub-layout="ba77587b-087e-47b2-a2eb-a868fdddaaee">
<style data-column-styling="ba77587b-087e-47b2-a2eb-a868fdddaaee">
  [data-sub-layout="ba77587b-087e-47b2-a2eb-a868fdddaaee"] {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    z-index: 0;
    justify-content: center;
    position: relative;
  }
  [data-sub-layout="ba77587b-087e-47b2-a2eb-a868fdddaaee"]:after {
    background-position: center center;
    background-size: cover;
    z-index: auto content "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @media only screen and (max-width: 700px) {
    [data-sub-layout="ba77587b-087e-47b2-a2eb-a868fdddaaee"] {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
</style>
<div data-widget-id="cd1b140f-54f9-46d2-824b-8a4954d7c7cc" data-placement-id="47032214-ad61-4223-9a58-60b26c4cc970" data-placement-status="ACTIVE"><div id="home-two-banner" class="themevale_banner_two_images module-wrapper margin-top-70">
<div class="container container-small">
<div class="banner-list">
<div class="banner-item">
<div class="banner-item-inner">
<div class="card-img-container"><a class="image-wrapper animate-hvr" title href="/womens"> <img class="card-image lazyload" title alt data-src="/assets/Banner_Images/Womens.jpg"> </a></div>
<div class="caption position-top text-left">
<h3 class="heading"><b> Womens Watches</b></h3>
<a class="button button--large" title href="/womens"><span>Shop Now</span></a></div>
</div>
</div>
<!-- end banner item 1 -->
<div class="banner-item">
<div class="banner-item-inner">
<div class="card-img-container"><a class="image-wrapper animate-hvr" title href="/mens"> <img class="card-image lazyload" title alt data-src="/assets/Banner_Images/Mens.jpg"> </a></div>
<div class="caption position-top text-right">
<h3 class="heading"><b>Mens Watches</b></h3>
<a class="button button--large" title href="/mens"><span>Shop Now</span></a></div>
</div>
</div>
<!-- end banner item 2 --></div>
</div>
</div>
</div>
</div>
</div></div></div>

</div>
<!-- Footer -->
<%- include("../user_partials/footer") %>