<%- include("../user_partials/header") %>
<style>
    /* Pagination Styles */
.pagination {
    display: flex;
    justify-content: center; /* Center the pagination links */
    align-items: center;     /* Vertically align the pagination items */
    list-style-type: none;   /* Remove bullet points */
    padding: 0;
}

.pagination .page-item {
    margin: 0 5px;  /* Space between pagination items */
}

.pagination .page-link {
    border-radius: 5px;
    padding: 8px 12px;
    margin: 0;
    border: 1px solid #ddd;
    color: #007bff;
    text-align: center;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.pagination .page-link:hover {
    background-color: #e9ecef;
    border-color: #007bff;
}

</style>
        <div class="body" data-currency-code="USD">
     <!-- breadcrumbs --><ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li class="breadcrumb " itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a href="/home" class="breadcrumb-label" itemprop="item"><span itemprop="name">Home</span></a>
            <meta itemprop="position" content="1" />
        </li>
        <li class="breadcrumb is-active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <meta itemprop="item" content="https://luxwatches-demo-02.mybigcommerce.com/mens/">
                <span class="breadcrumb-label" itemprop="name">Womens</span>
            <meta itemprop="position" content="2" />
        </li>
</ul>
    
    <div class="page category-layout-2">
    <div class="category-description">
            <div class="card-img-container">
                <img src="/assets/Banner_Images/Mens category.jpg" alt="Mens" title="Mens" data-sizes="auto"class="lazyload card-image"/>
            </div>
        <div class="content has-img">
                <h1 class="page-heading">Womens</h1>
            <!-- <p>Nam tempus turpis at metus scelerisque placerat nulla deumantos sollicitudin delos felis. Pellentesque diam dolor an elementum et lobortis at mollis ut risus. Curabitur semper sagittis mino de condimentum. Donec an mullamcorper mauris. Lorem ipsum dolor sit amet consectetur curabitur porttitor.</p> -->
        </div>
    </div>
    <div class="subcategories">
        <div data-content-region="category_below_header"></div>
        <div class="container">
                <ul class="subList">
                </ul>
        </div>
    </div>
    <div class="container">
        <div class="themevale_category-toolbar">
            <div class="column-left">
                <div class="sidebar-label">
                    <span class="icon-filter">
                        <svg class="icon"><use xlink:href="#icon-filter"></use></svg>
                    </span>
                    <span class="sidebar_more">Show Sidebar</span>
                </div>
            </div>
            <div class="column-right">
                <div class="view-as-btn">
                    <label class="form-label">View As</label>
                    <div class="btn-group">
                        <a href="javascript:void(0);" id="grid-view" title="Grid View" class="current-view">
                            <div>
                                <div class="icon-bar"></div>
                                <div class="icon-bar"></div>
                                <div class="icon-bar"></div>
                            </div>
                        </a>
                        <a href="javascript:void(0);" id="list-view" title="List View" class="">
                            <div>
                                <div class="icon-bar"></div>
                                <div class="icon-bar"></div>
                                <div class="icon-bar"></div>
                            </div>
                        </a>
                    </div>
                </div>

                
                <form class="actionBar" method="get" data-sort-by>
    <fieldset class="form-fieldset actionBar-section">
    <div class="form-field">
        <label class="form-label" for="sort">Sort By</label>
        <select class="form-select form-select--small" name="sort" id="sort">
            <option value="featured" >Featured Items</option>
            <option value="newest" >Newest Items</option>
            <option value="bestselling" >Best Selling</option>
            <option value="alphaasc" >A to Z</option>
            <option value="alphadesc" >Z to A</option>
            <!-- <option value="avgcustomerreview" >By Review</option> -->
            <option value="priceasc" >Price: Ascending</option>
            <option value="pricedesc" >Price: Descending</option>
        </select>
    </div>
</fieldset>
</form>
            </div>
        </div>

        <main class="page-content" id="product-listing-container">
                <form action="https://luxwatches-demo-02.mybigcommerce.com/compare" method='POST'  data-product-compare>
<ul class="productListing productGrid">
    <% if(product.length > 0) {
        for(let i=0; i < product.length; i++) { %>
    <li class="product">
            <article class="card" data-product-id="161" >
    <figure class="card-figure" data-product-id="161">
        <div class="card-figcaption-top" data-product-id="161">
                <!-- <a onclick="addProductToWishlist('<%- product[i]._id %>')" class="wishlist icon" title="Add to Wish List">
                    <svg class="icon"><use xlink:href="#icon-wishlist"/></svg>
                    <span class="text">Add to Wish List</span>
                </a> -->

               <a class="quickview icon" data-product-id="161">
                    <svg class="icon"><use xlink:href="#icon-quickview"></use></svg>
                    <!-- <span class="text">Quick view</span> -->
               </a>
                <label class="compare icon" for="compare-161">
                    <input type="checkbox" name="products[]" value="161" id="compare-161" data-compare-id="161">
                    <svg class="icon"><use xlink:href="#icon-compare"></use></svg>
                    <span class="text">Compare</span>
                </label>
        </div>

        <% if (product[i].stock < 1) { %>
                    <div class="product-badge sale-badge">
                        <span class="text">Out of Stock</span>
                    </div> <% } %>

         <a href="/product/<%= product[i]._id %>" >
            <div class="card-img-container" data-product-id="161">
                <img src="<%-product[i].productImage[0]%>" alt="Item" 
       class="lazyload card-image replace-2x img-responsive"/>
            </div>
        </a> 

        <figcaption class="card-figcaption card-show">
            <div class="card-figcaption-body">
                <div class="card-figcaption2"></div>
                        <div class="card-option-size card_optionSize card-option-size-161">
                            <div class="form-field" data-product-attribute="set-rectangle"></div>
                        </div>
                            <a href="#" data-event-type="product-click" class="button card-figcaption-button themevale_Option" data-product-id="161">Choose Options</a>
            </div>
        </figcaption>
        
    </figure>
    <div class="card-body">
            <p class="card-brand" data-test-info-type="brandName"><b><%= product[i].brand %></b></p>
        <h4 class="card-title">
            <a href="/product/<%= product[i]._id %>" ><%= product[i].productName %></a>
        </h4>
        
        <div class="card-price" data-test-info-type="price">
            <% if (product[i].price === product[i].discountPrice) { %>
                <!-- If price and discountPrice are the same, only show the discountPrice (which is equal to the price) -->
                <div class="price-section price-section--withoutTax rrp-price--withoutTax">
                    MRP:
                    <span data-product-price-without-tax class="price price--withoutTax">
                        <%= product[i].discountPrice %>
                    </span>
                </div>
            <% } else { %>
                <!-- If price and discountPrice are different, show both original price and discounted price -->
                <div class="price-section price-section--withoutTax rrp-price--withoutTax">
                    MRP:
                    <span data-product-rrp-price-without-tax class="price price--rrp" style="text-decoration: line-through; color: gray;">
                        <%= product[i].price %>
                    </span>
                </div>
                <div class="price-section price-section--withoutTax">
                    <span class="price-now-label">Now:</span>
                    <span data-product-price-without-tax class="price price--withoutTax">
                        <%= product[i].discountPrice %>
                    </span>
                </div>
            <% } %>
        </div>
        
        <div class="card-desc">
                <p>Nam tempus turpis at metus scelerisque placerat nulla deumantos sollicitudin delos felis. Pellentesquae diam dolor an elementum et lobortis at mollis ut risus. Curabitur semper sagittis mino de condimentum. Donec an mullamcorper mauris. Lorem ipsum dolor...</p>
        </div>

            <p class="card-rating" data-test-info-type="productRating">
                <span class="rating--small">
                            <span class="icon icon--ratingEmpty">
            <svg>
                <use xlink:href="#icon-star" />
            </svg>
        </span>
        <span class="icon icon--ratingEmpty">
            <svg>
                <use xlink:href="#icon-star" />
            </svg>
        </span>
        <span class="icon icon--ratingEmpty">
            <svg>
                <use xlink:href="#icon-star" />
            </svg>
        </span>
        <span class="icon icon--ratingEmpty">
            <svg>
                <use xlink:href="#icon-star" />
            </svg>
        </span>
        <span class="icon icon--ratingEmpty">
            <svg>
                <use xlink:href="#icon-star" />
            </svg>
        </span>
<!-- snippet location product_rating -->
                </span>
            </p>
                <div class="card-figcaption2"></div>
                <div class="card-option card_optionImage card-option-161">
                    <div class="form-field" data-product-attribute="swatch"></div>
                </div>
                
                <% if (product[i].stock > 0 && product[i].offer && product[i].offer.length > 0) { %>
                    <% if (new Date(product[i].offer[0].expDate) >= new Date()) { %>
                        <p><i class="fa-solid fa-tag" style="color: #308a00;"></i> Special Offer Available</p>
                    <% } %>
                <% } %>
                
                <div class="card-action-bottom card-show">
                    <a href="/product/<%= product[i]._id %>" data-event-type="product-click" class="button card-figcaption-button themevale_Option" data-product-id="161">Choose Options</a>
                </div>
                
    </div>
</article>
    </li>
    <%  }} else { %><li  colspan="5" class="text-center"> No products To Show </li>  <% } %>
</ul>

<div class="pagination-wrapper" style="display: none;">
    
        <div class="compare-link">
            <a href="../compare.html" data-compare-nav><span class="text">Compare Selected</span><span class="countPill countPill--positive">0</span></a>
        </div>
</div>
</form>
<div class="pagination-wrapper">
	<div class="pagination">
    <ul class="pagination-list">

    </ul>
</div>
	    <div class="compare-link">
	        <a href="../compare.html" data-compare-nav><span class="text">Compare Selected</span><span class="countPill countPill--positive">0</span></a>
	    </div>
</div>  
 </main>
        <div data-content-region="category_below_content"></div>
        <div data-content-region="category_banner_bottom"></div>
        <div data-content-region="category_banner_bottom--global"><div data-layout-id="0a878b41-9b46-4e3a-aa12-ef7d943d8f4f"><div data-sub-layout-container="232f4175-e828-45e6-8a17-684f9423528b" data-layout-name="Layout">
  <style data-container-styling="232f4175-e828-45e6-8a17-684f9423528b">
    [data-sub-layout-container="232f4175-e828-45e6-8a17-684f9423528b"] {
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      z-index: 0;
      position: relative;
    }
    [data-sub-layout-container="232f4175-e828-45e6-8a17-684f9423528b"]:after {
      background-position: center center;
      background-size: cover;
      z-index: auto content "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  </style>
  <div data-sub-layout="a357b4d5-eec1-4e99-a1e1-4bfa6e79f810">
    <style data-column-styling="a357b4d5-eec1-4e99-a1e1-4bfa6e79f810">
      [data-sub-layout="a357b4d5-eec1-4e99-a1e1-4bfa6e79f810"] {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        flex-basis: 100%;
        max-width: 100%;
        z-index: 0;
        justify-content: center;
        padding-right: 10.5px;
        padding-left: 10.5px;
        position: relative;
      }
      [data-sub-layout="a357b4d5-eec1-4e99-a1e1-4bfa6e79f810"]:after {
        background-position: center center;
        background-size: cover;
        z-index: auto content"";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      @media only screen and (max-width: 700px) {
        [data-sub-layout="a357b4d5-eec1-4e99-a1e1-4bfa6e79f810"] {
          flex-basis: 100%;
          max-width: 100%;
        }
      }
    </style>
    <!-- <div data-widget-id="0612fc5a-9926-4374-9670-881df1ca5104" data-placement-id="8b545118-9d16-4d02-9c34-376f9ecb7d2b" data-placement-status="ACTIVE"><div class="banners category-banner" data-banner-location="bottom">
    <div class="container container-smaller ">
        <div class="banner">
            <p>Sample Paragraph Text Block: Nam tempus turpis at metus scelerisque placerat nulla deumantos sollicitudin delos felis. Pellentesque diam dolor an elementum et lobortis at mollis delos risus. Curabitur semper sagittis mino de condimentum. Donec an mullamcorper mauris. Lorem ipsum dolor sit amet consectetur curabitur porttitor porta augue ddeu milance justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et mattis ante. Mauris laoreet nisi sagittis lectus lacinia vestibulum.</p>
        </div>
    </div>
</div>
</div> -->
  </div>
</div></div></div>
        <!-- breadcrumbs -->
        <div class="row">
            <div class="col-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <% if (currentPage > 1) { %>
                        <li class="page-item">
                            <a class="page-link" href="?page=<%= currentPage - 1 %>">Previous</a>
                        </li>
                        <% } %>
                        <% for (let i = 1; i <= totalPages; i++) { %>
                        <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                            <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                        </li>
                        <% } %>
                        <% if (currentPage < totalPages) { %>
                        <li class="page-item">
                            <a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a>
                        </li>
                        <% } %>
                    </ul>
                </nav>
            </div>
        </div>

    </div>

</div>


    <div id="modal" class="modal" data-reveal data-prevent-quick-search-close>
    <a href="#" class="modal-close" aria-label="Close" role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <div class="modal-content"></div>
    <div class="loadingOverlay"></div>
</div>
    <div id="alert-modal" class="modal modal--alert modal--small" data-reveal data-prevent-quick-search-close>
    <div class="swal2-icon swal2-error swal2-animate-error-icon"><span class="swal2-x-mark swal2-animate-x-mark"><span class="swal2-x-mark-line-left"></span><span class="swal2-x-mark-line-right"></span></span></div>

    <div class="modal-content"></div>

    <div class="button-container"><button type="button" class="confirm button" data-reveal-close>OK</button></div>
</div>
</div>
<script>
    async function addProductToWishlist(productId) {
        const response = await fetch('/addProductToWishlist', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ productId })
        });

        const result = await response.json();

        if (response.status === 401) {
            Swal.fire({
                icon: "warning",
                title: "You are not Signd in",
                text: "Please Sign-in to add products to your Wishlist",
                showConfirmButton: false,
                timer: 2000
            });
        } else if (response.status === 200) {
            if (result.message === 'Product already exists in Wishlist') {
                Swal.fire({
                    icon: "info",
                    title: "Product already exists in Wishlist",
                    showConfirmButton: false,
                    timer: 1300
                });
            } else {
                Swal.fire({
                    icon: "success",
                    title: "Product added to Wishlist",
                    showConfirmButton: false,
                    timer: 1300
                });
            }
        } else {
            Swal.fire({
                icon: "error",
                title: "Error",
                text: result.error || "An error occurred",
                showConfirmButton: true
            });
        }
    }
</script>
<%- include("../user_partials/footer") %>